In [31]:
import pandas as pd
import pickle
import numpy as np

In [32]:
df = pickle.load(open('dataset_level2.pkl','rb'))

In [33]:
df

# batting_team
# bowling team
# city
# current score
# ball left
# wickets left
# current rr
# last five

,match id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [34]:
df.isnull().sum()

match id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8548
venue                  0
dtype: int64

In [35]:
df[df['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        2969
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: count, dtype: int64

In [36]:
cities = np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x:x[0]),df['city'])

In [37]:

df['city'] = cities

In [38]:
df.isnull().sum()

match id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [39]:

df.drop(columns=['venue'],inplace=True)

In [40]:

df

,match id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo

In [41]:
eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [42]:
df = df[df['city'].isin(eligible_cities)]

In [43]:
df

,match id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo

In [44]:
# Assuming df is your DataFrame
# Convert 'runs' column to numeric using .loc
df.loc[:, 'runs'] = pd.to_numeric(df['runs'], errors='coerce')

# Group by 'match id' and calculate the cumulative sum of 'runs' using .loc
df.loc[:, 'current_score'] = df.groupby('match id')['runs'].cumsum()

C:\Users\vaide\AppData\Local\Temp\ipykernel_19856\3653094838.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'current_score'] = df.groupby('match id')['runs'].cumsum()

In [45]:
df

,match id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3
...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,125
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,125
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,127
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,128

In [46]:
# Assuming df is your DataFrame
# Split 'ball' column into 'over' and 'ball_no' columns using lambda functions and .apply
df['over'] = df['ball'].apply(lambda x: str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x: str(x).split(".")[1])

# Use .loc to assign the values to the new columns
df.loc[:, 'over'] = df['ball'].apply(lambda x: str(x).split(".")[0])
df.loc[:, 'ball_no'] = df['ball'].apply(lambda x: str(x).split(".")[1])

C:\Users\vaide\AppData\Local\Temp\ipykernel_19856\2661800589.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['over'] = df['ball'].apply(lambda x: str(x).split(".")[0])

C:\Users\vaide\AppData\Local\Temp\ipykernel_19856\2661800589.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ball_no'] = df['ball'].apply(lambda x: str(x).split(".")[1])

In [47]:
df.loc[:, 'balls_bowled'] = (df['over'].astype('int') * 6) + df['ball_no'].astype('int')

C:\Users\vaide\AppData\Local\Temp\ipykernel_19856\2523189276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'balls_bowled'] = (df['over'].astype('int') * 6) + df['ball_no'].astype('int')

In [48]:
# Calculate 'balls_left' using .loc to assign values
df.loc[:, 'balls_left'] = 120 - df['balls_bowled']
df.loc[:, 'balls_left'] = df['balls_left'].apply(lambda x: 0 if x < 0 else x)

C:\Users\vaide\AppData\Local\Temp\ipykernel_19856\1321976226.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'balls_left'] = 120 - df['balls_bowled']

In [49]:
df

,match id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,125,19,3,117,3
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,125,19,4,118,2
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,19,5,119,1
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,127,19,6,120,0
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,128,19,7,121,0

In [54]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x: 0 if x == '0' else 1)
# Convert 'player_dismissed' column to integer type
df['player_dismissed'] = df['player_dismissed'].astype(int)

# Calculate cumulative sum of 'player_dismissed' for each match
df['player_dismissed_cumsum'] = df.groupby('match id')['player_dismissed'].transform('cumsum')

# Calculate 'wickets_left' column
df['wickets_left'] = 10 - df['player_dismissed_cumsum']

C:\Users\vaide\AppData\Local\Temp\ipykernel_19856\4006993826.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].apply(lambda x: 0 if x == '0' else 1)
C:\Users\vaide\AppData\Local\Temp\ipykernel_19856\4006993826.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].astype(int)
C:\Users\vaide\AppData\Local\Temp\ipykernel_19856\4006993826.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed_cumsum'] = df.groupby('match id')['player_dismissed'].transform('cumsum')
C:\Users\vaide\AppData\Local\Temp\ipykernel_19856\4006993826.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wickets_left'] = 10 - df['player_dismissed_cumsum']

In [55]:
df

,match id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,player_dismissed_cumsum
0,2,Australia,Sri Lanka,0.1,0,1,Melbourne,0,0,1,1,119,9,1
1,2,Australia,Sri Lanka,0.2,0,1,Melbourne,0,0,2,2,118,8,2
2,2,Australia,Sri Lanka,0.3,1,1,Melbourne,1,0,3,3,117,7,3
3,2,Australia,Sri Lanka,0.4,2,1,Melbourne,3,0,4,4,116,6,4
4,2,Australia,Sri Lanka,0.5,0,1,Melbourne,3,0,5,5,115,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,1,Colombo,125,19,3,117,3,-112,122
115321,964,Sri Lanka,Australia,19.4,0,1,Colombo,125,19,4,118,2,-113,123
115322,964,Sri Lanka,Australia,19.5,0,1,Colombo,125,19,5,119,1,-114,124
115323,964,Sri Lanka,Australia,19.6,2,1,Colombo,127,19,6,120,0,-115,125
115324,964,Sri Lanka,Australia,19.7,1,1,Colombo,128,19,7,121,0,-116,126

In [56]:
df['crr'] = (df['current_score']*6)/df['balls_bowled']

C:\Users\vaide\AppData\Local\Temp\ipykernel_19856\914577034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crr'] = (df['current_score']*6)/df['balls_bowled']

In [57]:
df

,match id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,player_dismissed_cumsum,crr
0,2,Australia,Sri Lanka,0.1,0,1,Melbourne,0,0,1,1,119,9,1,0.000000
1,2,Australia,Sri Lanka,0.2,0,1,Melbourne,0,0,2,2,118,8,2,0.000000
2,2,Australia,Sri Lanka,0.3,1,1,Melbourne,1,0,3,3,117,7,3,2.000000
3,2,Australia,Sri Lanka,0.4,2,1,Melbourne,3,0,4,4,116,6,4,4.500000
4,2,Australia,Sri Lanka,0.5,0,1,Melbourne,3,0,5,5,115,5,5,3.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,1,Colombo,125,19,3,117,3,-112,122,6.410256
115321,964,Sri Lanka,Australia,19.4,0,1,Colombo,125,19,4,118,2,-113,123,6.355932
115322,964,Sri Lanka,Australia,19.5,0,1,Colombo,125,19,5,119,1,-114,124,6.302521
115323,964,Sri Lanka,Australia,19.6,2,1,Colombo,127,19,6,120,0,-115,125,6.350000
115324,964,Sri Lanka,Australia,19.7,1,1,Colombo,128,19,7,121,0,-116,126,6.347107

In [59]:
df['runs'] = pd.to_numeric(df['runs'], errors='coerce')  # 'coerce' will replace non-numeric values with NaN

# Group by 'match id'
groups = df.groupby('match id')

# Get unique match ids
match_ids = df['match id'].unique()

# Calculate rolling sum for each group and extend the last_five list
last_five = []
window_size = 30

for match_id in match_ids:
    group_data = groups.get_group(match_id)
    rolling_sum = group_data['runs'].rolling(window=window_size, min_periods=1).sum()
    last_five.extend(rolling_sum.values.tolist())

C:\Users\vaide\AppData\Local\Temp\ipykernel_19856\3923019305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['runs'] = pd.to_numeric(df['runs'], errors='coerce')  # 'coerce' will replace non-numeric values with NaN

In [60]:
df['last_five'] = last_five

C:\Users\vaide\AppData\Local\Temp\ipykernel_19856\1595651733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['last_five'] = last_five

In [61]:
df

,match id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,player_dismissed_cumsum,crr,last_five
0,2,Australia,Sri Lanka,0.1,0,1,Melbourne,0,0,1,1,119,9,1,0.000000,0.0
1,2,Australia,Sri Lanka,0.2,0,1,Melbourne,0,0,2,2,118,8,2,0.000000,0.0
2,2,Australia,Sri Lanka,0.3,1,1,Melbourne,1,0,3,3,117,7,3,2.000000,1.0
3,2,Australia,Sri Lanka,0.4,2,1,Melbourne,3,0,4,4,116,6,4,4.500000,3.0
4,2,Australia,Sri Lanka,0.5,0,1,Melbourne,3,0,5,5,115,5,5,3.600000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,1,Colombo,125,19,3,117,3,-112,122,6.410256,32.0
115321,964,Sri Lanka,Australia,19.4,0,1,Colombo,125,19,4,118,2,-113,123,6.355932,32.0
115322,964,Sri Lanka,Australia,19.5,0,1,Colombo,125,19,5,119,1,-114,124,6.302521,32.0
115323,964,Sri Lanka,Australia,19.6,2,1,Colombo,127,19,6,120,0,-115,125,6.350000,33.0
115324,964,Sri Lanka,Australia,19.7,1,1,Colombo,128,19,7,121,0,-116,126,6.347107,32.0

In [62]:
final_df = df.groupby('match id').sum()['runs'].reset_index().merge(df,on='match id')

In [63]:
final_df=final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [64]:
final_df.dropna(inplace=True)

In [65]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
wickets_left     0
crr              0
last_five        0
runs_x           0
dtype: int64

In [66]:
final_df = final_df.sample(final_df.shape[0])

In [67]:
final_df.sample(2)

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
24077,India,South Africa,St Lucia,163,9,-106,8.810811,61.0,186
16852,Australia,Pakistan,Johannesburg,95,50,-63,8.142857,28.0,164

In [69]:
pip install scikit-learn

Collecting scikit-learnNote: you may need to restart the kernel to use updated packages.

  Downloading scikit_learn-1.4.1.post1-cp312-cp312-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\vaide\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\vaide\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.11.4)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.4.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.4.1.post1-cp312-cp312-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.6 MB 259.2 kB/s eta 0:00:41
   ---------------------------------------- 0.0/10.6 MB 279.3 kB/s eta 0:00:38
   ---------------------------------------- 0.0/10.6 MB 279.3 kB/s eta 0:00:38
   ---------------------------------------- 0.1/10.6 MB 327.3 kB/s eta 0:00:33
   ---------------------------------------- 0.1/10.6 MB 327.3 kB/s eta 0:00:33
   ---------------------------------------- 0.1/10.6 MB 290.5 kB/s eta 0:00:37
   ---------------------------------------- 0.1/10.6 MB 327.4 kB/s eta 0:00:33
    --------------------------------------- 0.1/10.6 MB 327.1 kB/s eta 0:00:32
    --------------------------------------- 0.2/10.6 MB 364.0 kB/s eta 0:00:29
    --------------------------------------- 0.2/10.6 MB 380.0 kB/s eta 0:00:28
    --------------------------------------- 0.2/10.6 MB 355.7 kB/s eta 0:00:30
    --------------------------------------- 0.2/10.6 MB 382.0 kB/s eta 0:00:28
    --------------------------------------- 0.3/10.6 MB 393.2 kB/s eta 0:00:27
   - -------------------------------------- 0.3/10.6 MB 431.6 kB/s eta 0:00:24
   - -------------------------------------- 0.3/10.6 MB 445.8 kB/s eta 0:00:24
   - -------------------------------------- 0.4/10.6 MB 467.9 kB/s eta 0:00:22
   - -------------------------------------- 0.4/10.6 MB 491.2 kB/s eta 0:00:21
   - -------------------------------------- 0.5/10.6 MB 512.0 kB/s eta 0:00:20
   - -------------------------------------- 0.5/10.6 MB 512.0 kB/s eta 0:00:20
   - -------------------------------------- 0.5/10.6 MB 545.8 kB/s eta 0:00:19
   -- ------------------------------------- 0.5/10.6 MB 538.9 kB/s eta 0:00:19
   -- ------------------------------------- 0.6/10.6 MB 563.2 kB/s eta 0:00:18
   -- ------------------------------------- 0.6/10.6 MB 549.1 kB/s eta 0:00:19
   -- ------------------------------------- 0.6/10.6 MB 561.6 kB/s eta 0:00:18
   -- ------------------------------------- 0.6/10.6 MB 564.3 kB/s eta 0:00:18
   -- ------------------------------------- 0.7/10.6 MB 567.9 kB/s eta 0:00:18
   -- ------------------------------------- 0.7/10.6 MB 578.3 kB/s eta 0:00:18
   -- ------------------------------------- 0.7/10.6 MB 582.4 kB/s eta 0:00:17
   -- ------------------------------------- 0.8/10.6 MB 592.1 kB/s eta 0:00:17
   --- ------------------------------------ 0.8/10.6 MB 601.0 kB/s eta 0:00:17
   --- ------------------------------------ 0.9/10.6 MB 611.0 kB/s eta 0:00:16
   --- ------------------------------------ 0.9/10.6 MB 612.4 kB/s eta 0:00:16
   --- ------------------------------------ 0.9/10.6 MB 613.4 kB/s eta 0:00:16
   --- ------------------------------------ 1.0/10.6 MB 614.9 kB/s eta 0:00:16
   --- ------------------------------------ 1.0/10.6 MB 622.2 kB/s eta 0:00:16
   --- ------------------------------------ 1.0/10.6 MB 629.7 kB/s eta 0:00:16
   ---- ----------------------------------- 1.1/10.6 MB 642.7 kB/s eta 0:00:15
   ---- ----------------------------------- 1.1/10.6 MB 637.0 kB/s eta 0:00:15
   ---- ----------------------------------- 1.1/10.6 MB 643.4 kB/s eta 0:00:15
   ---- ----------------------------------- 1.2/10.6 MB 649.3 kB/s eta 0:00:15
   ---- ----------------------------------- 1.2/10.6 MB 655.2 kB/s eta 0:00:15
   ---- ----------------------------------- 1.2/10.6 MB 660.6 kB/s eta 0:00:15
   ---- ----------------------------------- 1.3/10.6 MB 665.8 kB/s eta 0:00:15
   ---- ----------------------------------- 1.3/10.6 MB 670.8 kB/s eta 0:00:14
   ----- ---------------------------------- 1.4/10.6 MB 675.8 kB/s eta 0:00:14
   ----- ---------------------------------- 1.4/10.6 MB 680.6 kB/s eta 0:00:14
   ----- ---------------------------------- 1.4/10.6 MB 684.6 kB/s eta 0:00:14
   ----- ---------------------------------- 1.5/10.6 MB 693.9 kB/s eta 0:00:14
   ----- ---------------------------------- 1.5/10.6 MB 697.9 kB/s eta 0:00:14
   ----- ---------------------------------- 1.6/10.6 MB 701.6 kB/s eta 0:00:13
   ----- ---------------------------------- 1.6/10.6 MB 705.6 kB/s eta 0:00:13
   ------ --------------------------------- 1.6/10.6 MB 713.5 kB/s eta 0:00:13
   ------ --------------------------------- 1.7/10.6 MB 712.3 kB/s eta 0:00:13
   ------ --------------------------------- 1.7/10.6 MB 715.9 kB/s eta 0:00:13
   ------ --------------------------------- 1.8/10.6 MB 723.2 kB/s eta 0:00:13
   ------ --------------------------------- 1.8/10.6 MB 721.9 kB/s eta 0:00:13
   ------ --------------------------------- 1.8/10.6 MB 725.2 kB/s eta 0:00:13
   ------ --------------------------------- 1.9/10.6 MB 728.0 kB/s eta 0:00:13
   ------- -------------------------------- 1.9/10.6 MB 730.6 kB/s eta 0:00:12
   ------- -------------------------------- 1.9/10.6 MB 733.4 kB/s eta 0:00:12
   ------- -------------------------------- 2.0/10.6 MB 736.1 kB/s eta 0:00:12
   ------- -------------------------------- 2.0/10.6 MB 742.2 kB/s eta 0:00:12
   ------- -------------------------------- 2.0/10.6 MB 741.9 kB/s eta 0:00:12
   ------- -------------------------------- 2.0/10.6 MB 732.5 kB/s eta 0:00:12
   ------- -------------------------------- 2.1/10.6 MB 728.0 kB/s eta 0:00:12
   ------- -------------------------------- 2.1/10.6 MB 723.2 kB/s eta 0:00:12
   ------- -------------------------------- 2.1/10.6 MB 726.6 kB/s eta 0:00:12
   ------- -------------------------------- 2.1/10.6 MB 718.4 kB/s eta 0:00:12
   ------- -------------------------------- 2.1/10.6 MB 718.4 kB/s eta 0:00:12
   ------- -------------------------------- 2.1/10.6 MB 718.4 kB/s eta 0:00:12
   -------- ------------------------------- 2.1/10.6 MB 695.7 kB/s eta 0:00:13
   -------- ------------------------------- 2.1/10.6 MB 691.8 kB/s eta 0:00:13
   -------- ------------------------------- 2.2/10.6 MB 691.1 kB/s eta 0:00:13
   -------- ------------------------------- 2.2/10.6 MB 690.6 kB/s eta 0:00:13
   -------- ------------------------------- 2.2/10.6 MB 693.5 kB/s eta 0:00:13
   -------- ------------------------------- 2.3/10.6 MB 699.2 kB/s eta 0:00:12
   -------- ------------------------------- 2.3/10.6 MB 704.7 kB/s eta 0:00:12
   -------- ------------------------------- 2.4/10.6 MB 704.0 kB/s eta 0:00:12
   --------- ------------------------------ 2.4/10.6 MB 709.3 kB/s eta 0:00:12
   --------- ------------------------------ 2.5/10.6 MB 715.2 kB/s eta 0:00:12
   --------- ------------------------------ 2.5/10.6 MB 720.3 kB/s eta 0:00:12
   --------- ------------------------------ 2.5/10.6 MB 722.3 kB/s eta 0:00:12
   --------- ------------------------------ 2.6/10.6 MB 727.1 kB/s eta 0:00:12
   ---------- ----------------------------- 2.7/10.6 MB 735.1 kB/s eta 0:00:11
   ---------- ----------------------------- 2.7/10.6 MB 737.3 kB/s eta 0:00:11
   ---------- ----------------------------- 2.7/10.6 MB 741.8 kB/s eta 0:00:11
   ---------- ----------------------------- 2.8/10.6 MB 743.7 kB/s eta 0:00:11
   ---------- ----------------------------- 2.8/10.6 MB 748.2 kB/s eta 0:00:11
   ---------- ----------------------------- 2.9/10.6 MB 749.7 kB/s eta 0:00:11
   ---------- ----------------------------- 2.9/10.6 MB 756.8 kB/s eta 0:00:11
   ----------- ---------------------------- 3.0/10.6 MB 761.1 kB/s eta 0:00:11
   ----------- ---------------------------- 3.0/10.6 MB 765.0 kB/s eta 0:00:10
   ----------- ---------------------------- 3.1/10.6 MB 769.2 kB/s eta 0:00:10
   ----------- ---------------------------- 3.1/10.6 MB 776.6 kB/s eta 0:00:10
   ----------- ---------------------------- 3.1/10.6 MB 777.1 kB/s eta 0:00:10
   ------------ --------------------------- 3.2/10.6 MB 783.8 kB/s eta 0:00:10
   ------------ --------------------------- 3.2/10.6 MB 784.8 kB/s eta 0:00:10
   ------------ --------------------------- 3.3/10.6 MB 788.3 kB/s eta 0:00:10
   ------------ --------------------------- 3.3/10.6 MB 789.8 kB/s eta 0:00:10
   ------------ --------------------------- 3.4/10.6 MB 800.9 kB/s eta 0:00:10
   ------------ --------------------------- 3.4/10.6 MB 799.3 kB/s eta 0:00:09
   ------------- -------------------------- 3.5/10.6 MB 804.9 kB/s eta 0:00:09
   ------------- -------------------------- 3.6/10.6 MB 812.6 kB/s eta 0:00:09
   ------------- -------------------------- 3.6/10.6 MB 813.9 kB/s eta 0:00:09
   ------------- -------------------------- 3.6/10.6 MB 819.1 kB/s eta 0:00:09
   ------------- -------------------------- 3.7/10.6 MB 821.9 kB/s eta 0:00:09
   ------------- -------------------------- 3.7/10.6 MB 821.9 kB/s eta 0:00:09
   -------------- ------------------------- 3.8/10.6 MB 831.0 kB/s eta 0:00:09
   -------------- ------------------------- 3.8/10.6 MB 830.8 kB/s eta 0:00:09
   -------------- ------------------------- 3.9/10.6 MB 831.8 kB/s eta 0:00:09
   -------------- ------------------------- 3.9/10.6 MB 832.9 kB/s eta 0:00:09
   -------------- ------------------------- 4.0/10.6 MB 835.4 kB/s eta 0:00:08
   --------------- ------------------------ 4.0/10.6 MB 833.6 kB/s eta 0:00:08
   --------------- ------------------------ 4.0/10.6 MB 834.0 kB/s eta 0:00:08
   --------------- ------------------------ 4.0/10.6 MB 834.0 kB/s eta 0:00:08
   --------------- ------------------------ 4.0/10.6 MB 834.0 kB/s eta 0:00:08
   --------------- ------------------------ 4.0/10.6 MB 820.1 kB/s eta 0:00:09
   --------------- ------------------------ 4.1/10.6 MB 816.1 kB/s eta 0:00:09
   --------------- ------------------------ 4.1/10.6 MB 816.6 kB/s eta 0:00:08
   --------------- ------------------------ 4.1/10.6 MB 816.0 kB/s eta 0:00:08
   --------------- ------------------------ 4.2/10.6 MB 818.6 kB/s eta 0:00:08
   --------------- ------------------------ 4.2/10.6 MB 812.7 kB/s eta 0:00:08
   --------------- ------------------------ 4.2/10.6 MB 813.2 kB/s eta 0:00:08
   ---------------- ----------------------- 4.3/10.6 MB 816.6 kB/s eta 0:00:08
   ---------------- ----------------------- 4.3/10.6 MB 819.2 kB/s eta 0:00:08
   ---------------- ----------------------- 4.3/10.6 MB 818.7 kB/s eta 0:00:08
   ---------------- ----------------------- 4.3/10.6 MB 818.7 kB/s eta 0:00:08
   ---------------- ----------------------- 4.3/10.6 MB 818.7 kB/s eta 0:00:08
   ---------------- ----------------------- 4.3/10.6 MB 801.1 kB/s eta 0:00:08
   ---------------- ----------------------- 4.4/10.6 MB 800.8 kB/s eta 0:00:08
   ---------------- ----------------------- 4.4/10.6 MB 799.0 kB/s eta 0:00:08
   ---------------- ----------------------- 4.4/10.6 MB 799.7 kB/s eta 0:00:08
   ---------------- ----------------------- 4.5/10.6 MB 802.6 kB/s eta 0:00:08
   ---------------- ----------------------- 4.5/10.6 MB 801.3 kB/s eta 0:00:08
   ----------------- ---------------------- 4.5/10.6 MB 804.2 kB/s eta 0:00:08
   ----------------- ---------------------- 4.6/10.6 MB 807.0 kB/s eta 0:00:08
   ----------------- ---------------------- 4.6/10.6 MB 805.3 kB/s eta 0:00:08
   ----------------- ---------------------- 4.7/10.6 MB 806.3 kB/s eta 0:00:08
   ----------------- ---------------------- 4.7/10.6 MB 809.0 kB/s eta 0:00:08
   ----------------- ---------------------- 4.7/10.6 MB 809.0 kB/s eta 0:00:08
   ----------------- ---------------------- 4.8/10.6 MB 804.8 kB/s eta 0:00:08
   ----------------- ---------------------- 4.8/10.6 MB 804.4 kB/s eta 0:00:08
   ------------------ --------------------- 4.8/10.6 MB 797.3 kB/s eta 0:00:08
   ------------------ --------------------- 4.8/10.6 MB 801.7 kB/s eta 0:00:08
   ------------------ --------------------- 4.9/10.6 MB 802.7 kB/s eta 0:00:08
   ------------------ --------------------- 4.9/10.6 MB 804.9 kB/s eta 0:00:08
   ------------------ --------------------- 5.0/10.6 MB 807.5 kB/s eta 0:00:07
   ------------------- -------------------- 5.0/10.6 MB 812.5 kB/s eta 0:00:07
   ------------------- -------------------- 5.1/10.6 MB 814.6 kB/s eta 0:00:07
   ------------------- -------------------- 5.1/10.6 MB 816.7 kB/s eta 0:00:07
   ------------------- -------------------- 5.2/10.6 MB 817.5 kB/s eta 0:00:07
   ------------------- -------------------- 5.2/10.6 MB 820.0 kB/s eta 0:00:07
   ------------------- -------------------- 5.2/10.6 MB 819.2 kB/s eta 0:00:07
   ------------------- -------------------- 5.3/10.6 MB 817.5 kB/s eta 0:00:07
   -------------------- ------------------- 5.3/10.6 MB 816.4 kB/s eta 0:00:07
   -------------------- ------------------- 5.3/10.6 MB 816.0 kB/s eta 0:00:07
   -------------------- ------------------- 5.3/10.6 MB 811.3 kB/s eta 0:00:07
   -------------------- ------------------- 5.4/10.6 MB 812.2 kB/s eta 0:00:07
   -------------------- ------------------- 5.4/10.6 MB 811.1 kB/s eta 0:00:07
   -------------------- ------------------- 5.4/10.6 MB 813.4 kB/s eta 0:00:07
   -------------------- ------------------- 5.5/10.6 MB 812.3 kB/s eta 0:00:07
   -------------------- ------------------- 5.5/10.6 MB 811.2 kB/s eta 0:00:07
   -------------------- ------------------- 5.6/10.6 MB 813.1 kB/s eta 0:00:07
   -------------------- ------------------- 5.6/10.6 MB 814.6 kB/s eta 0:00:07
   --------------------- ------------------ 5.6/10.6 MB 813.9 kB/s eta 0:00:07
   --------------------- ------------------ 5.7/10.6 MB 812.8 kB/s eta 0:00:07
   --------------------- ------------------ 5.7/10.6 MB 814.8 kB/s eta 0:00:06
   --------------------- ------------------ 5.7/10.6 MB 811.9 kB/s eta 0:00:06
   --------------------- ------------------ 5.8/10.6 MB 814.4 kB/s eta 0:00:06
   --------------------- ------------------ 5.8/10.6 MB 814.4 kB/s eta 0:00:06
   --------------------- ------------------ 5.8/10.6 MB 814.4 kB/s eta 0:00:06
   --------------------- ------------------ 5.8/10.6 MB 804.5 kB/s eta 0:00:06
   --------------------- ------------------ 5.8/10.6 MB 803.9 kB/s eta 0:00:06
   ---------------------- ----------------- 5.9/10.6 MB 802.9 kB/s eta 0:00:06
   ---------------------- ----------------- 5.9/10.6 MB 804.8 kB/s eta 0:00:06
   ---------------------- ----------------- 6.0/10.6 MB 806.7 kB/s eta 0:00:06
   ---------------------- ----------------- 6.0/10.6 MB 809.9 kB/s eta 0:00:06
   ---------------------- ----------------- 6.1/10.6 MB 811.6 kB/s eta 0:00:06
   ----------------------- ---------------- 6.1/10.6 MB 813.4 kB/s eta 0:00:06
   ----------------------- ---------------- 6.2/10.6 MB 816.8 kB/s eta 0:00:06
   ----------------------- ---------------- 6.2/10.6 MB 816.1 kB/s eta 0:00:06
   ----------------------- ---------------- 6.3/10.6 MB 819.2 kB/s eta 0:00:06
   ----------------------- ---------------- 6.3/10.6 MB 820.9 kB/s eta 0:00:06
   ----------------------- ---------------- 6.4/10.6 MB 824.1 kB/s eta 0:00:06
   ------------------------ --------------- 6.4/10.6 MB 823.4 kB/s eta 0:00:06
   ------------------------ --------------- 6.4/10.6 MB 818.2 kB/s eta 0:00:06
   ------------------------ --------------- 6.4/10.6 MB 818.8 kB/s eta 0:00:06
   ------------------------ --------------- 6.5/10.6 MB 820.8 kB/s eta 0:00:06
   ------------------------ --------------- 6.5/10.6 MB 822.7 kB/s eta 0:00:05
   ------------------------ --------------- 6.5/10.6 MB 823.0 kB/s eta 0:00:05
   ------------------------ --------------- 6.6/10.6 MB 821.8 kB/s eta 0:00:05
   ------------------------ --------------- 6.6/10.6 MB 823.6 kB/s eta 0:00:05
   ------------------------- -------------- 6.7/10.6 MB 826.4 kB/s eta 0:00:05
   ------------------------- -------------- 6.7/10.6 MB 827.0 kB/s eta 0:00:05
   ------------------------- -------------- 6.8/10.6 MB 828.5 kB/s eta 0:00:05
   ------------------------- -------------- 6.8/10.6 MB 831.7 kB/s eta 0:00:05
   ------------------------- -------------- 6.8/10.6 MB 828.2 kB/s eta 0:00:05
   -------------------------- ------------- 6.9/10.6 MB 832.1 kB/s eta 0:00:05
   -------------------------- ------------- 7.0/10.6 MB 834.8 kB/s eta 0:00:05
   -------------------------- ------------- 7.0/10.6 MB 837.8 kB/s eta 0:00:05
   -------------------------- ------------- 7.1/10.6 MB 840.8 kB/s eta 0:00:05
   -------------------------- ------------- 7.1/10.6 MB 843.4 kB/s eta 0:00:05
   --------------------------- ------------ 7.2/10.6 MB 844.8 kB/s eta 0:00:05
   --------------------------- ------------ 7.2/10.6 MB 844.8 kB/s eta 0:00:05
   --------------------------- ------------ 7.3/10.6 MB 850.2 kB/s eta 0:00:04
   --------------------------- ------------ 7.3/10.6 MB 849.6 kB/s eta 0:00:04
   --------------------------- ------------ 7.4/10.6 MB 850.9 kB/s eta 0:00:04
   ---------------------------- ----------- 7.4/10.6 MB 851.8 kB/s eta 0:00:04
   ---------------------------- ----------- 7.5/10.6 MB 852.3 kB/s eta 0:00:04
   ---------------------------- ----------- 7.5/10.6 MB 853.5 kB/s eta 0:00:04
   ---------------------------- ----------- 7.6/10.6 MB 856.3 kB/s eta 0:00:04
   ---------------------------- ----------- 7.6/10.6 MB 857.6 kB/s eta 0:00:04
   ---------------------------- ----------- 7.6/10.6 MB 857.6 kB/s eta 0:00:04
   ----------------------------- ---------- 7.7/10.6 MB 860.4 kB/s eta 0:00:04
   ----------------------------- ---------- 7.8/10.6 MB 863.1 kB/s eta 0:00:04
   ----------------------------- ---------- 7.8/10.6 MB 863.6 kB/s eta 0:00:04
   ----------------------------- ---------- 7.8/10.6 MB 863.2 kB/s eta 0:00:04
   ----------------------------- ---------- 7.9/10.6 MB 865.9 kB/s eta 0:00:04
   ----------------------------- ---------- 7.9/10.6 MB 867.1 kB/s eta 0:00:04
   ------------------------------ --------- 8.0/10.6 MB 868.6 kB/s eta 0:00:04
   ------------------------------ --------- 8.0/10.6 MB 871.1 kB/s eta 0:00:03
   ------------------------------ --------- 8.1/10.6 MB 870.8 kB/s eta 0:00:03
   ------------------------------ --------- 8.1/10.6 MB 872.6 kB/s eta 0:00:03
   ------------------------------ --------- 8.2/10.6 MB 873.4 kB/s eta 0:00:03
   ------------------------------- -------- 8.2/10.6 MB 876.0 kB/s eta 0:00:03
   ------------------------------- -------- 8.3/10.6 MB 878.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.3/10.6 MB 877.0 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.6 MB 881.7 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.6 MB 880.6 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.6 MB 879.8 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.6 MB 879.8 kB/s eta 0:00:03
   -------------------------------- ------- 8.5/10.6 MB 879.8 kB/s eta 0:00:03
   -------------------------------- ------- 8.5/10.6 MB 878.0 kB/s eta 0:00:03
   -------------------------------- ------- 8.6/10.6 MB 877.0 kB/s eta 0:00:03
   -------------------------------- ------- 8.6/10.6 MB 876.2 kB/s eta 0:00:03
   -------------------------------- ------- 8.6/10.6 MB 876.2 kB/s eta 0:00:03
   -------------------------------- ------- 8.6/10.6 MB 873.8 kB/s eta 0:00:03
   -------------------------------- ------- 8.7/10.6 MB 873.4 kB/s eta 0:00:03
   -------------------------------- ------- 8.7/10.6 MB 873.8 kB/s eta 0:00:03

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [71]:
X = final_df.drop(columns=['runs_x', 'wickets_left'])
y = final_df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [72]:
X_train

,batting_team,bowling_team,city,current_score,balls_left,crr,last_five
44212,Sri Lanka,Pakistan,Colombo,20,107,9.230769,20.0
24427,Australia,Bangladesh,Barbados,87,25,5.494737,29.0
7531,Bangladesh,West Indies,St Kitts,105,50,9.000000,43.0
24246,South Africa,Afghanistan,Barbados,51,82,8.052632,38.0
26017,Sri Lanka,England,St Lucia,71,47,5.835616,32.0
...,...,...,...,...,...,...,...
419,New Zealand,Bangladesh,Mount Maunganui,45,75,6.000000,31.0
5304,India,South Africa,Cape Town,110,43,8.571429,46.0
13503,New Zealand,West Indies,Mount Maunganui,158,33,10.896552,80.0
40020,Australia,West Indies,Mirpur,110,41,8.354430,47.0
7084,South Africa,Sri Lanka,Johannesburg,1,119,6.000000,1.0

In [95]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [96]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

X_train.replace([np.inf, -np.inf], np.nan, inplace=True)
X_train.dropna(inplace=True)

trf = ColumnTransformer([
    ('trf', OneHotEncoder(drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [97]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler(with_mean=False)),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [98]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.9465235377691833
3.002197709936586

In [99]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [100]:
import xgboost
xgboost.__version__

'2.0.3'